#artifact {
  text-align: left;
}

#artifact > div,
#artifact > section {
  margin-bottom: 3rem;
}

#artifact #back {
  display: block;
  margin-bottom: 3rem;
}

#artifact-media {
  background-color: var(--black);
  text-align: center;
}

#artifact-media * {
  color: var(--white);
}

#artifact-media div {
  padding: 5rem 0;
}

#artifact-media figure {
  display: inline-block;
  margin: 0;
}

#artifact-media figure img {
  background-color: var(--grey);
  display: block;
  height: 300px;
}

#artifact-media figure figcaption {
  background-color: var(--gunmetal);
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
}

#artifact-media footer {
  background-color: var(--gunmetal);
  margin: 0;
  padding: 1rem;
}

#artifact-media footer a {
  text-decoration: underline;
}

.artifact-summary {
  background-color: var(--foggy-grey);
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  padding: 5rem 8rem;

  p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 1rem;
    text-transform: uppercase;
    width: 100%;
  }
}

.artifact-detail {
  border: 1px solid var(--black);
  border-style: solid none;
}

.artifact-detail section:not(:first-child) {
  border-top: 1px solid #ccc;
}

#artifact .related > div {
  max-width: 100%;
  overflow-x: auto;
}

#artifact .related table * {
  border-color: #ccc;
  border-width: 1px;
}

#artifact .related table tr {
  border-bottom-style: solid;
}

#artifact .related table th,
#artifact .related table td {
  padding: 1em;
}

#artifact .related table td:empty::after {
  color: #ccc;
  content: 'NULL';
  font-style: italic;
}

#artifact .related table th:not(:first-child),
#artifact .related table td:not(:first-child) {
  border-left-style: solid;
}

.artifact-desc {
  font-size: 24px;
}

.artifact-detail {
  section {
    label {
      font-family: 'Open Sans';
      font-size: 24px;
      font-weight: lighter;
      margin-bottom: 0;
      padding: 1rem 0;
    }
  }
}

.artifact-sub-heading {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: lighter;
  margin-left: 1.25rem;
  padding: 1rem 0;
}

.export-as-dd {
  color: var(--cdli-blue) !important;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .artifact-summary {
    padding: 1.5rem;
  }

  .artifact-detail {
    section {
      padding: 0.25rem !important;

      label {
        font-size: 1rem;
        padding: 0.25rem 0;
      }
    }
  }

  .artifact-desc {
    font-size: 1rem;
  }
}
