.bs4-cdli-card-horizontal {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;

  img {
    height: 12rem;
    min-width: 12rem;
    width: 12rem;
  }

  p {
    font-size: 14px;
  }
}

// Enable grid css
// scss-lint:disable PropertySpelling
.expanded-browse-collection {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);

  > div {
    margin-bottom: 2rem;
  }

  a {
    display: block;
    font-size: 1rem;
    margin-left: 0.5rem;
    text-align: left;
    width: fit-content;
  }

  span {
    display: block;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    text-align: left;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 992px) {
  // Enable grid css
  // scss-lint:disable PropertySpelling
  .expanded-browse-collection {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  // Enable grid css
  // scss-lint:disable PropertySpelling
  .expanded-browse-collection {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .bs4-cdli-card-horizontal {
    flex-direction: column;

    img {
      height: 15rem;
      width: 100% !important;
    }
  }
}
