.border-top-right {
  border-top-right-radius: 0.25rem !important;
}

.border-bottom-right {
  border-bottom-right-radius: 0.25rem !important;
}

.ads {
  .subscript-txt {
    color: #6c757d;
    font-family: 'Open sans';
    font-size: 12.8px;
  }
}

.ss-sort-select {
  background: #fff;
  border: 1px solid #ced4da;
  height: 38px;
  margin-left: 0.25rem;
  padding: 0.25rem;
  width: 93px !important;
}

.ss-filter-head {
  color: #495057;
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 600;
}

.text-gunmetal {
  color: #495057 !important;
}

.searchSettings {
  label {
    align-items: center;
    display: flex;
  }

  input[type='checkbox'],
  input[type='radio'] {
    margin: 0 0.5rem;
  }
}

.h-fit-content {
  height: fit-content !important;
}
