// Importing Bootstrap
@import 'bootstrap/bootstrap';

// Importing Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

// Import page styles
// scss-lint:disable Indentation
@import 'pages/_advancedsearch', 'pages/_browse', 'pages/_home',
  'pages/_searchresults', 'pages/_searchsettings', 'pages/artifact',
  'pages/_single', 'pages/_users', 'pages/_stats', 'pages/_viz',
  'pages/searchbar', 'pages/_journals', 'pages/login';

// Import component styles
@import 'components/_cards', 'components/_footer', 'components/_nav',
  'components/_accordion', 'components/_toggle';

@mixin small-screens {
  @media (max-width: 576px) {
    @content;
  }
}

:root {
  --black: #000;
  --cdli-blue: #1661ab;
  --cloudy-grey: #f9f9f9;
  --danger: #dd4746;
  --foggy-grey: #f7f7f7;
  --grey: #eee;
  --gunmetal: #495057;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;

  a {
    color: var(--cdli-blue);
  }
}

// Set height of the grid so .sidenav can be 100% (adjust as needed)
.row.content {
  height: 450px;
}

// Set gray background color and 100% height
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  padding-top: 20px;
}

// On small screens, set height to 'auto' for sidenav and grid
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }

  .row.content {
    height: auto;
  }

  .row {
    max-width: none;
  }
}

.contentWrapper {
  width: 80%;

  @include small-screens() {
    overflow: auto;
    width: 95%;
  }
}

// image side bar
.imagesSidebar {
  background: #333;
}

.indImageWrapper {
  margin-top: 90px;
  position: relative;
}

.indImage {
  width: 50%;
}

.indViewer {
  background: rgba(146, 146, 146, 0.87);
  bottom: 0;
  left: 25%;
  padding: 0 27px;
  position: absolute;
}

.indViewer h4 {
  font-size: 14px;
}

.imgMode {
  color: #f4f4f4;
}

// detail information

.detailsWrapper {
  padding-left: 70px;
  position: relative;
}

.indTitle {
  font-size: 30px;
  font-weight: 800;
}

.indSubTitle {
  font-size: 20px;
  margin-top: 20px;
}

.summary {
  border: 1px solid #000;
  margin-top: 30px;
  width: 100%;
}

.summaryTitle {
  background: #fff;
  font-size: 18px;
  margin-left: 35px;
  margin-top: -10px;
  padding-left: 10px;
  width: 100px;
}

.summaryBold {
  font-size: 19px;
  font-weight: 800;
}

.summaryLight {
  font-size: 18px;
  font-weight: 200;
}

.cardTitle {
  color: #000;
  font-size: 18px;
}

// Add to the UL of a pagination list to transform Bootstrap pagination into CDLI style
.pagination-dark {
  a {
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: var(--cdli-blue) !important;
    display: block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
    text-decoration: none;
  }

  & > .page-item > a {
    color: #000;
  }

  & > .active {
    & > a {
      background-color: var(--black);
      color: var(--cloudy-grey);
    }
  }

  & > .page-item:nth-last-child(1) > a,
  & > .page-item:nth-child(1) > a,
  & > .page-item:nth-child(2) > a {
    border: 1px solid transparent;
    border-radius: 0;
  }

  & > .page-item:nth-last-child(2) > a {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
  }
}

// Add to a TABLE tag to transform it into a Bootstrap CDLI Table
.table-bootstrap {
  @extend .table;
  @extend .border-bottom;

  & > thead {
    @extend .table-secondary;
    @extend .small-caps;
  }

  & > tbody {
    & > tr {
      & > td {
        @extend .align-middle;
      }

      & > td:nth-child(1) {
        @extend .border-right;
      }
    }

    & > tr > th {
      @extend .border-right;
      @extend .table-secondary;
    }
  }
}

// For all loading spinners
.rotation {
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

// Small caps primarily for table heads
.small-caps {
  font-variant: small-caps;
}

// Used in forms
.boxed {
  background-color: var(--foggy-grey);
  margin: 1rem;
  overflow: auto;
  padding: 40px;
  text-align: left;
}

.capital-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

// Used in Related Actions box
.btn-action {
  @extend .btn;
  @extend .btn-light;
  @extend .text-primary;
}

// Blue button
.cdli-btn-blue {
  background-color: var(--cdli-blue);
  color: #fafafa;
}

// Wide button
.wide-btn {
  height: 40px;
  width: 280px;
}

// Light button
.cdli-btn-light {
  background-color: var(--grey);
  color: #000;
}

// Centertext
.textcenter {
  text-align: center;
}

// box-shadows
.shadow {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}

// translucent-film
.translucent-film {
  background-color: rgba(238, 238, 238, 0.75);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

// sidemenu drawer component

.side-nav {
  background-color: #f9f9f9;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 1;

  a {
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    transition: 0.3s;
  }
}

.embedded-links {
  margin-left: 1.5rem;
}

.login-border {
  border-top: 1px solid #000;
}

.side-nav > a {
  border-bottom: 1px solid #ccc;
}

.sidebar-btn-close {
  background: #ccc;
  font-size: 36px;
  font-weight: 700;
  margin-right: 50px;
  padding: 0 1rem;
  position: absolute;
  right: 32px;
  top: 3.25rem;
}

.header {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media only screen and (max-width: 600px) {
  .navbar-logo img {
    width: 6rem;
  }

  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sidebar-btn-close {
    margin-right: 0;
    right: 20px;
    top: 2.75rem;
  }

  .wide-btn {
    width: 100%;
  }
}
